<!-- Barra navegacional-->
<app-nav-bar></app-nav-bar>
<!-- Contenedor del mapa-->
<!-- Componente del mapa: usando agm-map-->

<agm-map class="w-100" style="height: 39em;" [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
    <!-- marcadores del mapa, iterados-->
    <div *ngFor="let m of listTargets | async">
      <agm-marker [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="icon">
        <agm-info-window>
          <div class="p-2">
            <h4>
              <strong>{{m.title}}</strong>
            </h4>
            <hr>
            <p>{{m.neighborhood}} {{m.dir}}</p>
          </div>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
<!-- component boostrap- modal-->

<ng-template #content let-c="close " let-d="dismiss ">
  <div class="modal-header ">
    <h4 class="modal-title ">Agregar marcador</h4>
    <button type="button " class="close " aria-label="Close " (click)="d('Cross click') ">
      <span aria-hidden="true ">&times;</span>
    </button>
  </div>
  <div class="modal-body ">
    <!-- Formulario para agregar un punto-->
    <form id="mapa " #myForm="ngForm" (ngSubmit)="addMapa(); myForm.reset(); c('Close click')">
      <!-- Campo para el nombre del usario-->
      <div class="form-group ">
        <label for="InputNombreUsuario ">Nombre del lugar</label>
        <input type="text " name="title" [(ngModel)]="title" class="form-control " placeholder="Ej: Reciclamelo " required>
      </div>
      <!-- Campo para la direccion-->
      <div class="form-group ">
        <label for="InputNombreUsuario ">Dirección del contenedor </label>
        <input type="text" name="dir" [(ngModel)]="dir" class="form-control" id="direccion" required>
      </div>
    </form>
  </div>
  <!-- Final del modal-->
  <div class="modal-footer ">
    <button type="button" class="btn btn-secondary " (click)="c('Close click') " #closeBtn>Cancelar</button>

    <input type="submit" form="mapa " class="btn btn-success " value="Crear ">
  </div>

</ng-template>
