  <!-- Contenedor principal-->
  <div class="container-fluid h-100 w-100">
    <!-- Contenedor secundario-->
    <div class="container">
      <div class="row d-flex  justify-content-center p-3">
        <!-- Logo de la empresa Eveergreen-->
        <div class="col-md-12">
          <img style="width:12rem" class="card-img-top mx-auto d-block m-2" src="{{imgLogo}}" alt="Logo Evergreen">
          <h2 class="text-center  color-evergreen">Evergreen Network</h2>
        </div>
        <!-- Formulario del login-->
        <div class="col-md-4 p-2">
          <form (submit)="OnSubmitLoginUser()">
            <!-- Campo del correo-->
            <div class="form-group justify-content-center">
              <input type="email" class="form-control" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <!-- Campo del contraseña-->
            <div class="form-group">
              <input type="password" class="form-control" name="pass" [(ngModel)]="pass" placeholder="Contraseña">
            </div>
            <!-- Checkbox para visualizar la contraseña-->
            <!--div class="form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Ver contraseña</label>
          </div-->
            <!-- Iniciar Sessión-->
            <input type="submit" class="btn btn-primary mx-auto d-block d-flex justify-content-center m-4">
          </form>
        </div>

        <div class="col-md-12 fixed-bottom mb-4">
          <img style="width:10rem" class="mx-auto d-block" src="{{imgIrrepservices}}" alt="Logo IrrepServices">
        </div>
      </div>
    </div>
  </div>
