    <!-- Barra navegacional-->
    <nav class="navbar navbar-expand-lg navbar-dark background-nav">
      <!-- Logo en la barra-->
      <a class="navbar-brand color-evergreen" href="#" routerLink="/">
          <img src="../../../assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Evergreen Network
      </a>
      <!-- Botón que aparece cuando la pantalla es sm-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Items de la barra navegacional-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <!-- Sección de mapas-->
              <li class="nav-item ">
                  <a class="nav-link" href="#" routerLink="/mapa">Mapa
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <!-- Sección de usuarios  (Actual)-->
              <li class="nav-item active">
                  <a class="nav-link" href="#" routerLink="/usuarios">Usuarios</a>
              </li>
              <!-- Sección de empresas-->
              <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/empresas">Empresas</a>
              </li>
              <!-- Sección de estadisticas-->
              <li class="nav-item">
                  <a class="nav-link" href="#" routerLink="/estadisticas">Estadisticas</a>
              </li>
          </ul>
      </div>
  </nav>
